a.disabled {
  pointer-events: none; /* Désactiver les événements liés à la souris */
  color: #999; /* Changer la couleur du texte pour indiquer le lien désactivé */
  text-decoration: none; /* Enlever le soulignement du lien */
  opacity: 0.6; /* Réduire l'opacité pour indiquer un état désactivé */
  cursor: not-allowed; /* Changer le curseur de la souris pour indiquer l'état désactivé */
}

a.noneshow {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: #721036;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #007bff;
  color: #000;
}

.navbar {
  margin-bottom: 20px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #3634b3a9;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

@media (max-width: 767px) {
  header {
    padding: 10px;
  }

  nav {
    padding: 0;
  }

  .navbar-nav {
    flex-direction: column;
  }

  nav a {
    color: #fff;
    padding: 10px 15px;
    margin: 5px 0;
    display: block;
  }

  nav a:hover {
    background-color: #444;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    flex-direction: row;
  }

  nav a {
    margin: 0 5px;
  }
}
